* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.invisible_ {
  background-color: #5271ff;
  width: 100%;
  height: 70px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.container {
  width: 100%;
  margin: 0 auto;
}
.container.hed {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .container.hed {
    justify-content: space-between;
  }
}

.active {
  color: #000000;
}

a:hover {
  text-decoration: underline;
}
a:hover.cta {
  text-decoration: none;
}
a:hover.show {
  text-decoration: none;
}

.show {
  padding: 8px 8px;
  background-color: #fff;
  color: #323232;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  border: 3px solid #323232;
  font-size: 0.8rem;
  border-radius: 8px;
  margin-top: 10px;
  display: block;
  width: 100px;
  text-align: center;
}
.show:hover {
  opacity: 0.8;
}
.show:active {
  background-color: #323232;
  color: #fff;
}

.shadow-lg {
  background-color: #5271ff;
}

.navbar {
  background-color: #5271ff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
  position: fixed;
  width: 100%;
}
.navbar .container {
  height: 70px;
  position: relative;
}
.navbar .container .name {
  font-weight: 600;
  font-size: 1.8rem;
  margin-left: 30px;
  cursor: default;
}
@media screen and (max-width: 768px) {
  .navbar .container .name {
    display: none;
  }
}
.navbar .container .initials {
  display: none;
  font-size: 2rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .navbar .container .initials {
    display: block;
    margin-left: 10px;
  }
}
.navbar .container .list-nav {
  width: 45%;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .navbar .container .list-nav {
    display: none;
  }
}
.navbar .container .hamburger_menu {
  margin-right: 10px;
  display: none;
}
@media screen and (max-width: 768px) {
  .navbar .container .hamburger_menu {
    display: block;
    cursor: pointer;
  }
}
.navbar .container .hamburger_menu .line {
  width: 25px;
  height: 3px;
  margin-top: 4px;
  background-color: #ffffff;
}
.navbar .container .hamburger_menu .lineb {
  width: 25px;
  height: 3px;
  margin-top: 4px;
  background-color: #ffffff;
}
.navbar .sidebar {
  display: none;
  position: absolute;
  right: 0;
  top: 70px;
  width: 70%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 1;
  font-size: 1.2rem;
  border-radius: 8px;
  color: #5271ff;
}
.navbar .sidebar.open {
  display: block;
}
.navbar .sidebar .list-sidebar {
  height: 400px;
  border-bottom: 3px solid #5271ff;
  font-weight: 600;
  color: #5271ff;
}

main {
  background-color: rgba(50, 50, 50, 0.95);
}
main .invisible {
  width: 100%;
  height: 70px;
}
main .jumbo {
  height: calc(100vh - 70px);
  color: #ebe7e7;
  background-color: #5271ff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
main .jumbo .container {
  height: calc(100vh - 70px);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 40px;
}
main .jumbo .container .content-jumbo {
  text-align: start;
  cursor: default;
}
@media screen and (max-width: 768px) {
  main .jumbo .container .content-jumbo {
    flex-direction: column;
  }
}
main .jumbo .container .content-jumbo .welcome {
  font-size: 6.5rem;
  font-weight: 600;
  margin-right: 12%;
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  main .jumbo .container .content-jumbo .welcome {
    font-size: 5rem;
    margin-top: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 0;
  }
}
main .jumbo .container .content-jumbo .me {
  font-size: 5rem;
  font-weight: 600;
}
main .jumbo .container .content-jumbo .me h5 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  main .jumbo .container .content-jumbo .me {
    font-size: 2rem;
  }
}
main .jumbo .container .content-jumbo .buttons {
  width: 35%;
  height: 220px;
}
@media screen and (max-width: 768px) {
  main .jumbo .container .content-jumbo .buttons {
    margin-top: 20px;
    width: 100%;
    height: auto;
  }
}
main .jumbo .container .content-jumbo .buttons .cta {
  width: 250px;
  text-align: center;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 8px;
  border: 3px solid #272727;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  background-color: #ffffff;
  color: #272727;
}
@media screen and (max-width: 768px) {
  main .jumbo .container .content-jumbo .buttons .cta {
    width: auto;
  }
}
main .jumbo .container .content-jumbo .buttons .cta .fa-eye {
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #11ad86;
  font-size: 1.2rem;
}
main .jumbo .container .content-jumbo .buttons .cta:hover {
  opacity: 0.9;
}
main .jumbo .container .content-jumbo .buttons .cta:active {
  background-color: #272727;
  border: 2px solid #10b981;
  color: #fff;
}
main .jumbo .container .content-jumbo .buttons .cv {
  width: 250px;
  text-align: center;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 8px;
  border: 3px solid #272727;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  background-color: #ffffff;
  color: #272727;
}
@media screen and (max-width: 768px) {
  main .jumbo .container .content-jumbo .buttons .cv {
    width: auto;
  }
}
main .jumbo .container .content-jumbo .buttons .cv .fa-download {
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: tomato;
  font-size: 1.2rem;
}
main .jumbo .container .content-jumbo .buttons .cv:hover {
  opacity: 0.9;
}
main .jumbo .container .content-jumbo .buttons .cv:active {
  background-color: #fff;
  border: 2px solid #e34f4f;
  color: #fff;
}
main .about {
  height: 100%;
  background-color: #ffffff;
  cursor: default;
  border-bottom: 2px solid #3b82f6;
}
main .about .container {
  height: auto;
}
main .about .container .content-about .aboutme {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  color: #5271ff;
  padding-top: 70px;
}
@media screen and (max-width: 768px) {
  main .about .container .content-about .aboutme {
    font-size: 2.3rem;
  }
}
main .about .container .content-about .content-me {
  width: 85%;
  margin: 0 auto;
  height: 100%;
}
@media screen and (max-width: 768px) {
  main .about .container .content-about .content-me {
    display: flex;
    flex-direction: column;
  }
}
main .about .container .content-about .content-me .left {
  font-weight: 500;
  width: 60%;
  font-size: 1.2rem;
  color: #5271ff;
  margin-top: 100px;
  margin-bottom: 180px;
  line-height: 2rem;
}
@media screen and (max-width: 768px) {
  main .about .container .content-about .content-me .left {
    width: 100%;
    margin-bottom: 50px;
  }
}
main .about .container .content-about .content-me .right {
  font-weight: 500;
  width: 40%;
  font-size: 1.1rem;
  color: #5271ff;
  margin-top: 100px;
  margin-bottom: 180px;
  line-height: 2rem;
}
@media screen and (max-width: 768px) {
  main .about .container .content-about .content-me .right {
    width: 100%;
    margin-bottom: 50px;
  }
}
main .about .container .content-about .content-me .right .icons .icon {
  width: 50px;
  height: 50px;
  margin: 20px;
}
main .about .container .content-about .content-me .right .icons .icon i {
  cursor: pointer;
  font-size: 50px;
  opacity: 0.9;
}
main .about .container .content-about .content-me .right .icons .icon i:hover {
  opacity: 1;
}
main .project {
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 100px;
}
main .project .container {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: default;
}
main .project .container h1 {
  margin-bottom: 100px;
  padding-top: 45px;
  font-size: 3.5rem;
  color: #5271ff;
}
@media screen and (max-width: 768px) {
  main .project .container h1 {
    font-size: 2.3rem;
  }
}
main .project .container .p-5 h3 {
  color: #ebe7e7;
  font-weight: 500;
  font-size: 1.1rem;
  margin: 10px 0;
}
@media screen and (max-width: 768px) {
  main .project .container .p-5 {
    flex-direction: column;
  }
}

.contact {
  background-color: #5271ff;
  padding-bottom: 10px;
}
.contact .container .content-contact {
  padding-bottom: 20px;
}
.contact .container .content-contact .contactme {
  text-align: center;
  padding-top: 50px;
  font-size: 3.5rem;
  font-weight: 700;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .contact .container .content-contact .contactme {
    font-size: 2.3rem;
  }
}
.contact .container .content-contact .contatts {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .contact .container .content-contact .contatts {
    display: flex;
    flex-direction: column;
  }
}
.contact .container .content-contact .contatts .left {
  width: 50%;
  font-size: 1.2rem;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .contact .container .content-contact .contatts .left {
    width: 100%;
    font-size: 1rem;
    margin-top: 40px;
  }
}
.contact .container .content-contact .contatts .left li {
  opacity: 0.8;
  line-height: 3.5rem;
}
.contact .container .content-contact .contatts .left li i {
  font-size: 1.5rem;
  margin-right: 8px;
}
@media screen and (max-width: 768px) {
  .contact .container .content-contact .contatts .left li i {
    font-size: 1rem;
    margin-right: 0;
  }
}
.contact .container .content-contact .contatts .left li:hover {
  opacity: 1;
}
.contact .container .content-contact .contatts .right {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .contact .container .content-contact .contatts .right {
    width: 100%;
  }
}
.contact .container .content-contact .contatts .right .content-contacme {
  margin-top: 50px;
}
.contact .container .content-contact .contatts .right .content-contacme .me {
  width: 200px;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .contact .container .content-contact .contatts .right .content-contacme .me {
    width: 150px;
    height: 150px;
  }
}
.contact .container .content-contact .contatts .right .icons-contact {
  width: 300px;
  font-size: 50px;
  margin-top: 70px;
}
.contact .container .content-contact .contatts .right .icons-contact .icon-contact {
  color: #fff;
  opacity: 0.8;
}
.contact .container .content-contact .contatts .right .icons-contact .icon-contact:hover {
  opacity: 1;
}
.contact .container .content-contact span {
  color: #fff;
  font-weight: 500;
  margin-top: 40px;
}
.contact .container .content-contact span a {
  color: #0eab78;
}
