main {
    .invisible {
        width: 100%;
        height: 70px;
    }
    .jumbo {
        height: calc(100vh - 70px);
        color: rgb(235, 231, 231);
        background-color: #272727;

        .container {
            height: calc(100vh - 70px);
            border-top: 4px solid #10b981;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            .content-jumbo {
                text-align: center;
                .welcome {
                    font-size: 6rem;
                    font-weight: 700;
                    @media screen and (max-width: 768px) {
                        font-size: 2.4rem;
                    }
                }
                .me {
                    font-size: 4rem;
                    font-weight: 400;
                    @media screen and (max-width: 768px) {
                        font-size: 2.4rem;
                    }
                }
                .cta {
                    padding: 12px 35px;
                    margin-top: 20px;
                    border-radius: 8px;
                    border: 4px solid #10b981;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    font-weight: 600;
                    background-color: #272727;
                    &:hover {
                        background-color: #10b981;
                        color: #000;
                        border: 4px solid #272727;
                    }
                }
            }
        }
    }
    .about {
       height: 100%;
        background-color: #272727;
        
        .container {
           height: auto;
           border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            border-bottom: 4px solid #3b82f6;
            .content-about {
                
                .aboutme {
                    text-align: center;
                    font-size: 5rem;
                    font-weight: 700;
                    color: rgb(235, 231, 231);
                    padding-top: 70px;
                    @media screen and (max-width: 768px) {
                        font-size: 2.3rem;
                    }
                }
                .content-me {
                    width: 85%;
                    margin: 0 auto;
                    height: 100%;
                    @media screen and (max-width: 768px) {
                        display: flex;
                        flex-direction: column;
                    }
                    .left {
                        font-weight: 500;
                        width: 50%;
                        font-size: 1.2rem;
                        color:rgb(235, 231, 231) ;
                        
                        margin-top: 100px;
                        margin-bottom: 180px;
                        line-height: 2rem;
                        @media screen and (max-width: 768px) {
                            width: 100%;
                            margin-bottom: 50px;
                        }
                    }
                    .right {
                        font-weight: 500;
                        width: 50%;
                        font-size: 1.1rem;
                        color:rgb(235, 231, 231) ;
                        margin-top: 100px;
                        margin-bottom: 180px;
                        line-height: 2rem;
                        @media screen and (max-width: 768px) {
                            width: 100%;
                            margin-bottom: 50px;
                        }
                        .icons {
                            .icon {
                                width: 50px;
                                height: 50px;
                                margin: 20px;
                                i {
                                   cursor: pointer;
                                    font-size: 50px;
                                    opacity: 0.9;
                                    &:hover {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
