.navbar {
  background-color: transparent;
  z-index: 1;
  position: fixed;
  width: 100%;
  @media screen and (max-width: 768px) {
  }

  .container {
    height: 80px;
    position: relative;
    .name {
      font-weight: 600;
      font-size: 1.8rem;
      margin-left: 30px;
      cursor: default;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .initials {
      display: none;
      font-size: 1.5rem;
      font-weight: 600;
      background-color: $primary-color;
      padding: 2px 5px;
      border-radius: 12px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
      -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
      a {
        text-decoration: none;
        color: #ffffff;
      }
      @media screen and (max-width: 768px) {
        display: block;
        margin-left: 10px;
      }
    }

    .list-nav {
      width: 45%;
      font-weight: 500;
      @media screen and (max-width: 768px) {
        display: none;
      }
      li {
        text-transform: uppercase;
        padding: 6px 10px;
        background-color: #ffffff;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
        -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
        -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
        a {
          color: #000;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          &:hover {
            text-decoration: none;
          }
        }
        i {
          margin-right: 5px;
          color: #000;
          font-size: 0.9rem;
          opacity: 0.8;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .hamburger_menu {
      margin-right: 10px;
      display: none;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
      -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
      height: 25px;
      width: 25px;
      background-color: $secondary-color;
      @media screen and (max-width: 768px) {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        border-radius: 5px;
      }

      .line {
        width: 20px;
        height: 5px;
        background-color: #ffffff;
        border-radius: 5px;
        border: 1px solid #000;
      }
    }
  }

  .sidebar {
    display: none;
    position: absolute;
    right: 0;
    top: 70px;
    width: 70%;
    height: 100vh;
    width: 200px;
    z-index: 1;
    font-size: 1.2rem;
    border-radius: 8px;
    color: $primary-color;
    &.open {
      display: block;
    }

    .list-sidebar {
      height: 400px;
      font-weight: 600;
      color: $primary-color;
      li {
        width: 40px;
        height: 40px;
        background-color: #ffffff;
        border-radius: 15px;
        border: 1px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #000;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
        -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
        -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
        &.left {
          position: relative;
          right: 50px;
        }
        a {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        i {
          color: #000;
          font-size: 1rem;
          opacity: 0.8;
          &:active {
            opacity: 1;
            color: tomato;
          }
        }
      }
    }
  }
}

.hamburger_menu.open div:nth-child(1),
.hamburger_menu.open div:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger_menu.open div:nth-child(2),
.hamburger_menu.open div:nth-child(5) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger_menu.open div:nth-child(1) {
  left: 5px;
  top: 7px;
}

.hamburger_menu.open div:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

.hamburger_menu.open div:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.hamburger_menu.open div:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.hamburger_menu.open div:nth-child(5) {
  left: 5px;
  top: 29px;
}

.hamburger_menu.open div:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}
