.navbar {
  background-color: rgba(50, 50, 50, 0.95);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
  position: fixed;
  width: 100%;
  @media screen and (max-width: 768px) {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .container {
    height: 70px;
    position: relative;

    .name {
      font-weight: 600;
      font-size: 1.8rem;
      margin-left: 30px;
      cursor: default;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .initials {
      display: none;
      font-size: 2rem;
      font-weight: 600;
      @media screen and (max-width: 768px) {
        display: block;
        margin-left: 10px;
      }
    }

    .list-nav {
      width: 45%;
      font-weight: 500;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .hamburger_menu {
      margin-right: 10px;
      display: none;
      @media screen and (max-width: 768px) {
        display: block;
        cursor: pointer;
      }

      .line {
        width: 25px;
        height: 5px;
        margin-top: 4px;
        background-color: #10b981;
      }

      .lineb {
        width: 25px;
        height: 5px;
        margin-top: 4px;
        background-color: #3b82f6;
      }
    }
  }

  .sidebar {
    display: none;
    position: absolute;
    right: 0;
    top: 70px;
    width: 80%;
    height: 100vh;

    background-color: rgba(39, 39, 39, 0.95);
    z-index: 1;
    font-size: 1.4rem;

    &.open {
      display: block;
    }

    .list-sidebar {
      height: 400px;
      border-bottom: 5px solid rgb(235, 231, 231);
      font-weight: 600;
    }
  }
}
