* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container {
    width: 95%;
    margin: 0 auto;
}
.active {
    color: #fff;
}

a:hover {
    text-decoration: underline;
    &.cta {
        text-decoration: none;
    }
}

