* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container {
    width: 95%;
    margin: 0 auto;
}
.active {
    color: #fff;
}

a:hover {
    text-decoration: underline;
    &.cta {
        text-decoration: none;
    }
    &.show {
        text-decoration: none;
    }
    
}

.show {
    padding: 8px 8px;
    background-color: #fff;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid #fff;
    font-size: 0.8rem;
    border-radius: 4px;
    margin-top: 10px;
    display: block;
    width: 100px;
    text-align: center; 
    &:hover {
        opacity: 0.8;
    }
    &:active {
        background-color: #323232;
        color: #fff;
    }
}